.reliable_root {
    width: 100%;
    margin-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
}

.reliable_root_2 {
    width: 100%;
    height: 100%;
    display: flex;
}

@media only screen and (max-width: 950px) {
    .reliable_root {
        max-height: 70vh;
    }

    .reliable_root_2 {
        background: transparent;
    }
}